
<div>
  <h1>Welcome to Traveler Tracker</h1>
  <p> Build, View and Share travel plans with friends and loved ones. </p>
</div>

<div class="first">
  <a href="" class="button">Log In</a>
</div>

<div class="second">
  <a href="" class="button">Sign Up</a>
</div>
