
<div class="hero-image">
</div>

<div class="hero">
  <h1>Welcome to Traveler Tracker</h1>
  <p> Build, View and Share travel plans with friends and loved ones. </p>
</div>

<div>

  <table>
    <tr>
      <th>Sign-up Here</th>
    </tr>
    <tr>
      <th>Already A Member? - Login</th>
    </tr>
  </table>
</div>
