
<div class="hero-image">
  <img src="http://cdn1.spiegel.de/images/image-565498-860_poster_16x9-lbyo-565498.jpg">
</div>

<div class="hero-text">
  <h1>Welcome to Traveler Tracker</h1>
  <p> Here you can create, view and share your travel plans with your friends and loved ones. </p>
</div>

<div>
  <table>
  </table>
</div>
<p> Already A Member? - Login </p>
<p> Sign-up Here </p>
