
<div class="hero">
  <h1>Welcome to Traveler Tracker</h1>
  <p> Build, View and Share travel plans with friends and loved ones. </p>
</div>

<a href="" class="button">Log In</a>
<a href="" class="button">Sign Up</a>
