<div class="trek-background">
</div>

<div >
  <div class="info-text">
    <h1> Welcome Traveler - Please Sign Up</h1>
  </div> </br>
</div>
<div>
  <br><div class="form">
    <%= render 'form' %>
  </div>
<div>
