body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0e/Earth%27s_City_Lights_by_DMSP%2C_1994-1995_%28small%29.jpg');
    background-size: cover;
    background-position: center 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .first a.button {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Markazi Text', serif;
    text-align: center;
  }

  .first a.button:hover {
    background-color: #008CBA;
    color: white;
  }

  .second a.button {
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Markazi Text', serif;
    text-align: center;
  }

  .second a.button:hover {
    background-color: #008CBA;
    color: white;
  }

  a.button:hover{
   color:#DDDDDD;
   border-color:#DDDDDD;
  }

  h1 {
    font-size:80px;
    font-family: 'Markazi Text', serif;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  p {
    font-size:24px;
    font-family: 'Markazi Text', serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
  }

  .info-text h1 {
    position: relative;
    font-size:65px;
    font-family: 'Markazi Text', serif;
    color: white;
    text-align: center;
    margin: auto;
    top: 40px;
  }

  .info-text h2 {
    font-size:45px;
    font-family: 'Markazi Text', serif;
    color: white;
    text-align: center;
    margin: auto;
  }

  .info-text p {
    font-size:24px;
    font-family: 'Markazi Text', serif;
    color: white;
    text-align: left;
    margin: auto;
    top: auto;
    transform: translate(-30%, -50%);
  }

  #createNewAttraction {

    display:none;

  }

  .form {
    font-size:30px;
    font-family: 'Markazi Text', serif;
    text-align: center;
    background-color: #F5F5F5;
    padding: 40px 40px 40px 40px;
    width: 80%;
    position:relative;
    top:30%;
    left: 20%;
        overflow: auto;
  }

  .form p {
    font-size:30px;
    font-family: 'Markazi Text', serif;
    text-align: center;
    color: black;
    position:relative;
    transform: translate(-30%, -50%);
  }

  .form h3 {
    font-size:18px;
    font-family: 'Markazi Text', serif;
    text-align: center;
    color: gray;
  }

  .form a.button{
    top: 70%;
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Markazi Text', serif;
    text-align: center;
    text-decoration: none;
    border: 2px solid #008CBA;
  }

  .form a.button:hover {
    background-color: #008CBA;
    color: white;
  }

}

  .topnav {
    font-family: 'Markazi Text', serif;
    position: fixed;
    top: 0;
    width: 75%;
  }

  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }

  .topnav a:hover {
    background-color:	#ADD8E6;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .row {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

  .column {
      float: left;
      margin: auto;
      top: 60%;
      flex: 30%;
      display: block;
  }

  #attractions{
    height: 600px;
    font-size:12px;

  }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
