<div class="row" >
  <div class="column">
    <div class="info-text">
      <h1> All Attractions</h1>
    </div>
  </div>
  <div class="column">
    <div class="form">
      <%@attractions.each do |a|%>
        <%=link_to a.name, attraction_path(a)%> </br>
      <%end%>
    </br>
      <a href="<%=new_attraction_path%>" class="button">Create New Attraction</a>
    </div>
  </div>
<div>
