<div class="row">
  <div class="column">
    <div class="info-text">
      <h1> <%=@attraction.name%></h1> </br>
    </div>
  </div>
  <div class="column">
    <div class="form">
      Location:<%=@attraction.location%></br>
      Hours: <%=@attraction.hours%></br>
      Price: $<%=@attraction.price%></br>
      <a href="" class="button">Delete Attraction</a>
      <a href="<%edit_attraction_path(@attraction)%>" class="button">Edit Attractions</a>
    </div>
  </div>
</div>
