<h2> Name: <%=@attraction.name%></h2>
<h2>Location:<%=@attraction.location%></h2>
<h2>Hours: <%=@attraction.hours%></h2>
<h2> Price: <%=@attraction.price%></h2>

  <a href="attractions/index" class="button">All Attractions</a>
